<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartoon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>cartoon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>cartoon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>cartoon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>cartoon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cartoonPlist.png</string>
            <key>size</key>
            <string>{425,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fce45723b6fdebc741f1b71902046c8e:f63d20cc1da4af780f6e2736e598fb65:c432c27db1d1b893f8f244409a97124e$</string>
            <key>textureFileName</key>
            <string>cartoonPlist.png</string>
        </dict>
    </dict>
</plist>
